body {
    background-color: #f4f5f8;
    box-sizing: border-box;
    margin: 0;
  }
  
  .bucket {
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease;
    width: fit;
  }
  
  .fi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #6b6f76;
    font-size: 12px;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
     font-size: 16px;
  }
  
  .icon {
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 100%;
  }
  
  .thi {
    display: flex;
    gap: 1rem;
  }
  
  .exclamation-outer {
    color: white;
    border-radius: 2px;
    padding: 10px;
  
    border: solid 1px #ccc;
    border-radius: 10px;
  }
  
  .exclamation {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #6b6f76;
    width: 7px;
    height: 7px;
  }